<div class="container mt-4">

  <h2 class="text-center mb-4">Service Provider Dashboard</h2>
  <div class="row mb-4">
    <div class="col-md-2">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5>Completed</h5>
          <h2>{{stats.completedBookings}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card text-center shadow">
        <div class="card-body">
          <h3>{{stats.totalServices}}</h3>
          <p>Services</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center shadow">
        <div class="card-body">
          <h3>{{stats.totalBookings}}</h3>
          <p>Bookings</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center shadow">
        <div class="card-body">
          <h3>{{stats.pendingBookings}}</h3>
          <p>Pending</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center shadow">
        <div class="card-body">
          <h3>{{stats.approvedBookings}}</h3>
          <p>Approved</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center shadow">
        <div class="card-body">
          <h3>{{stats.rejectedBookings}}</h3>
          <p>Rejected</p>
        </div>
      </div>
    </div>

  </div>
  <!-- CREATE / EDIT -->
  <div class="card p-4 mb-4 shadow">
    <h4>{{ editMode ? 'Edit Service' : 'Create Service' }}</h4>

    <div class="row g-3 mt-2">

      <div class="col-md-4">
        <input [(ngModel)]="serviceName" name="serviceName" class="form-control" placeholder="Service Name">
      </div>

      <div class="col-md-3">
        <input [(ngModel)]="price" name="price" type="number" class="form-control" placeholder="Price">
      </div>

      <div class="col-md-3">
        <select [(ngModel)]="categoryId" name="categoryId" class="form-select">
          <option [ngValue]="null">Select Category</option>
          <option *ngFor="let c of categories" [ngValue]="c.id">
            {{ c.categoryName }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>
      <div class="col-md-2 d-grid">

        <!-- CREATE -->
        <button *ngIf="!editMode" class="btn btn-success" (click)="createService()">
          Creat
        </button>

        <!-- UPDATE -->
        <button *ngIf="editMode" class="btn btn-primary" (click)="saveService()">
          Update
        </button>

        <!-- CANCEL -->
        <button *ngIf="editMode" class="btn btn-secondary mt-2" (click)="resetForm()">
          Cancels
        </button>

      </div>

    </div>
  </div>

  <!-- SERVICES -->
  <div class="card p-4 mb-4 shadow">
    <h4>Your Services</h4>

    <table class="table table-bordered text-center mt-3">
      <thead class="table-dark">
        <tr>
          <th> Image</th>
          <th>Category</th>
          <th>Service</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <!-- <tr *ngFor="let s of services; trackBy: trackById"> -->
        <tr *ngFor="let s of services">
          <td>
            <img *ngIf="s.imageUrl" [src]="'https://localhost:7040/' + s.imageUrl" width="80" height="80">
            <span *ngIf="!s.imageUrl">
              No Image
            </span>
          </td>
          <td>{{ s.categoryName }}</td>
          <td>{{ s.serviceName }}</td>
          <td>₹ {{ s.price }}</td>

          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="startEdit(s)">
              Edit
            </button>

            <button class="btn btn-danger btn-sm" (click)="deleteService(s.id)">
              Delete
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- BOOKINGS -->
  <div class="card p-4 shadow">
    <h4>Bookings</h4>

    <table class="table table-bordered text-center mt-3">
      <thead class="table-primary">
        <tr>
          <th>Service</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <!-- <p>Total Bookings: {{ bookings.length }}</p> -->
      <tbody>
        <tr *ngFor="let b of bookings">

          <td>{{ b.serviceName }}</td>
          <td>{{ b.customerName }}</td>
          <td>{{ b.bookingDate | date }}</td>

          <td>
            <span class="badge" [ngClass]="{
                'bg-warning': b.status == 'Pending',
                'bg-success': b.status == 'Approved',
                'bg-danger': b.status == 'Rejected',
                  'bg-primary': b.status == 'Completed'
              }">
              {{ b.status }}
            </span>
          </td>

          <td>

            <button *ngIf="b.status == 'Pending'" class="btn btn-success btn-sm me-2"
              (click)="updateStatus(b.id, 'Approved')">

              Approve

            </button>

            <button *ngIf="b.status == 'Pending'" class="btn btn-danger btn-sm me-2"
              (click)="updateStatus(b.id, 'Rejected')">

              Reject

            </button>

            <button *ngIf="b.status == 'Approved'" class="btn btn-primary btn-sm"
              (click)="updateStatus(b.id, 'Completed')">

              Complete

            </button>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <!-- ⭐ REVIEWS -->

  <div class="card mt-4 p-3 shadow">

    <h4>
      ⭐ Reviews
    </h4>

    <h5>
      Average Rating:
      {{reviewData?.average}}
    </h5>

    <p>
      Total Reviews:
      {{reviewData?.total}}
    </p>

    <div *ngFor="let r of reviewData?.reviews">

      <hr>

      <h6>
        {{r.customer}}
      </h6>

      <p>
        ⭐ {{r.rating}} / 5
      </p>

      <p>
        {{r.comment}}
      </p>

    </div>

  </div>
</div>