<div class="container mt-4">
  <div class="row mb-4">

    <div class="col-md-4">

      <input class="form-control" [(ngModel)]="search" placeholder="Search service">

    </div>

    <div class="col-md-3">

      <select class="form-select" [(ngModel)]="categoryId">

        <option value="0">

          All

        </option>

        <option *ngFor="let c of categories" [value]="c.id">

          {{c.categoryName}}

        </option>

      </select>

    </div>

    <div class="col-md-2">

      <button class="btn btn-primary" (click)="searchService()">

        Search

      </button>

    </div>

  </div>
  <h2 class="mb-3">Service Providers</h2>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let p of providers">
      <div class="card shadow p-3">

        <h5>{{ p.providerName }}</h5>
        <p class="text-warning">

          ⭐
          {{p.averageRating}}

          (
          {{p.totalReviews}}
          reviews)

        </p>
        <div *ngFor="let s of p.services" class="border p-2 mb-2">
          <p>{{ s.serviceName }}</p>
          <p>₹{{ s.price }}</p>

          <button class="btn btn-sm btn-primary" (click)="bookingService(s.id)">
            Book Now
          </button>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <a routerLink="/services" class="btn btn-outline-primary me-2">
    View Services
  </a>

  <a routerLink="/my-bookings" class="btn btn-outline-success me-2">
    My Bookings
  </a>

  <button class="btn btn-danger" (click)="logout()">
    Logout
  </button>

</div>