/* ===========================
   BACKGROUND
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.auth-page{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url(/assets/Images/Login-Background.jpg);

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    backdrop-filter:blur(2px);
}

/* ===========================
 NAVBAR
=========================== */

.navbar{

    position:absolute;
    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;

    z-index:10;
}
/* linear-gradient(rgba(72,89,53,.72),rgba(72,89,53,.72)) */


/* ===========================
 CARD
=========================== */

.auth-card{

    width:430px;

    padding:45px;

    border-radius:22px;

    background:linear-gradient(rgba(100, 114, 83, 0.296),rgba(85, 105, 63, 0.532));

    border:1px solid rgba(255,255,255,.25);

    backdrop-filter:blur(25px);

    box-shadow:
    0 15px 40px rgba(0,0,0,.35);

    color:white;

    position:relative;

    z-index:5;

    animation:popup .7s ease;

}

@keyframes popup{

    from{

        opacity:0;
        transform:translateY(40px) scale(.9);

    }

    to{

        opacity:1;
        transform:translateY(0) scale(1);

    }

}

/* ===========================
 TITLE
=========================== */

.auth-card h2{

    text-align:center;

    margin-bottom:35px;

    font-size:34px;

    font-weight:700;

}

/* ===========================
 INPUT
=========================== */

.input-box{

    position:relative;

    margin-bottom:25px;

}

.input-box input{

    width:100%;

    background:transparent;

    border:none;

    border-bottom:2px solid rgba(255,255,255,.5);

    outline:none;

    color:white;

    padding:14px 40px 12px 5px;

    font-size:16px;

}

.input-box input::placeholder{

    color:#eee;

}

.input-box i{

    position:absolute;

    right:8px;

    top:15px;

    color:white;

}

/* ===========================
 OPTIONS
=========================== */

.options{

    display:flex;

    justify-content:space-between;

    margin-bottom:25px;

    font-size:14px;

}

.options label{

    display:flex;

    gap:5px;

    align-items:center;

}

.options a{

    color:white;

    text-decoration:none;

}

.options a:hover{

    text-decoration:underline;

}

/* ===========================
 BUTTON
=========================== */

.auth-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#354029;

    color:#fffdfd;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.35s;

}

.auth-btn:hover{

    background:#5c7342;

    color:white;

    transform:translateY(-3px);

}

/* ===========================
 FOOTER
=========================== */

.auth-card p{

    margin-top:25px;

    text-align:center;

}

.auth-card span{

    color:#8fd8ff;

    cursor:pointer;

    font-weight:bold;

}

.auth-card span:hover{

    text-decoration:underline;

}

/* ===========================
 MOBILE
=========================== */

@media(max-width:768px){

  
    .auth-card{

        width:92%;

        padding:30px;

    }

   
}