<section class="section">

    <div class="hero-text">

        <span>Behind the Designs</span>

        <h1>
            Curious What Else I’ve<br>
            Created?
        </h1>

        <p>
            Explore more services and providers from our platform.
        </p>

        <button>
            See More →
        </button>

    </div>

    <div class="coverflow-container">

        <div class="coverflow">

            <div class="coverflow-item" *ngFor="let item of services; let i = index"
                [ngClass]="{ active: i === currentIndex }" [ngStyle]="getTransform(i)" (click)="goToIndex(i)">

                <div class="cover">

                    <img *ngIf="item.imageUrl" [src]="'https://localhost:7040/' + item.imageUrl">
                </div>

                <div class="reflection" [style.background-image]="'url(https://localhost:7040/' + item.imageUrl + ')'">
                </div>

            </div>

        </div>

    </div>


    <!-- DETAILS -->
    <div class="card-details" *ngIf="services &&services.length &&services[currentIndex]">

        <h2>

            {{services[currentIndex]?.serviceName}}

        </h2>

        <p>

            ₹{{services[currentIndex]?.price}}

        </p>

        <button (click)="bookService(services[currentIndex].id)">
            Book Now
        </button>

    </div>

</section>