<nav class="navbar custom-navbar">

    <div class="container-fluid">

        <!-- LEFT -->
        <div class="left-section">

            <img
                src="/assets/logo/F__3_-removebg-preview.png"
                class="logo"
                alt="Logo">

            <div class="brand-name">
                PROXIMA
            </div>

        </div>

     

        <!-- MOBILE MENU BUTTON -->
        <button
            class="menu-btn"
            (click)="toggleMenu()">

            <i class="bi bi-list"></i>

        </button>

        <!-- RIGHT MENU -->
        <div
            class="right-section"
            [class.show]="menuOpen">
   <!-- SEARCH -->
        <!-- <div class="center-section">

            <input
                class="search-box"
                type="text"
                placeholder="Search services...">

        </div> -->
            <!-- Notification -->
            <div class="dropdown notification-wrapper">

                <button
                    class="notification-btn"
                    data-bs-toggle="dropdown">

                    🔔

                    <span
                        class="notification-count"
                        *ngIf="notifications.length">

                        {{ notifications.length }}

                    </span>

                </button>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li class="dropdown-header">
                        Notifications
                    </li>

                    <li *ngIf="notifications.length==0">

                        <div class="dropdown-item">

                            No Notifications

                        </div>

                    </li>

                    <li *ngFor="let n of notifications">

                        <div class="dropdown-item">

                            {{ n.message }}

                            <br>

                            <small>

                                {{ n.createdAt | date:'short' }}

                            </small>

                        </div>

                    </li>

                </ul>

            </div>

            <!-- My Bookings -->

            <button
                routerLink="/my-bookings"
                class="booking-btn">

                My Bookings

            </button>

            <!-- Chat -->

            <button
                routerLink="/customer-chat-list"
                class="chat-btn">

                <i class="bi bi-chat-dots-fill"></i>

                Chats

            </button>

            <!-- Profile -->

            <div class="profile-wrapper">

                <img
                    *ngIf="profileImage"
                    [src]="profileImage"
                    class="profile-avatar"
                    routerLink="/profile">

                <i
                    *ngIf="!profileImage"
                    class="bi bi-person-circle profile-icon"
                    routerLink="/profile">
                </i>

            </div>

            <!-- Logout -->

            <button
                (click)="logout()"
                class="logout-btn">

                Logout

            </button>

        </div>

    </div>

</nav>