

<h2>Available Services</h2>

<!-- 🔍 SEARCH -->
<input type="text"
       placeholder="Search services..."
       [(ngModel)]="searchText"
       (input)="filterServices()" />

<!-- 📂 CATEGORY FILTER -->
<select [(ngModel)]="selectedCategory"
        (change)="filterServices()">

  <option value="">All Categories</option>

  <option *ngFor="let c of categories" [value]="c.id">
   {{ c.categoryName }}
  </option>

</select>

<br><br>

<!-- ❌ REMOVE THIS LATER (debug only) -->
<p>{{ services | json }}</p>

<!-- ✅ USE FILTERED LIST -->
<div *ngFor="let s of filteredServices">
   <img
    *ngIf="s.imageUrl"
    [src]="'https://localhost:7040/' + s.imageUrl"
    class="img-fluid mb-2"
    style="height:200px; object-fit:cover;">
  <h3>{{ s.serviceName }}</h3>
  <p>Category: {{ s.category }}</p>
  <p>Provider: {{ s.provider }}</p>
  <p>Price: ₹{{ s.price }}</p>
  <button (click)="bookingService(s.id)"> Book Now</button>
</div>